<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/main.min.css">
</head>

<body class="body">

<div>Hello! I'm working and everything is ... {{ test }} </div>

<script src="js/scripts.min.js"></script>
</body>

</html>