doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Page title
        link(rel="stylesheet" href="css/main.min.css")
    body.body
        .migration-format
            h2.migration-format__title Migration Format
            button.migration-format__button Format and Copy
            textarea.migration-format__textarea#mf-input(placeholder="input")
            textarea.migration-format__textarea#mf-output(placeholder="output")

        script(src="js/scripts.min.js")